* {
  margin: 0;
  padding: 0;
}

a {
	text-decoration: none;
}


body {
  min-height: 100vh;
  background-image: url(./images/pexels-s-migaj-747964.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

/* 面罩 */
.mask {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100vw;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
}

.nav_bar {
  width: 100vw;
  height: 80px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  position: fixed;
  top: 0;
  z-index: 999;  
}


.nav_bar .nav_vessel {
  width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


/* 左边部分 */
.nav_bar .nav_vessel .left_part {
  font-size: 24px;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
}

.nav_bar .nav_vessel .right_part {
  display: flex;
  /* width: 300px; */
  /* justify-content: space-around; */
}

@media screen and (min-width:768px) {
  .nav_bar .nav_vessel .right_part .item {
    margin-left: 40px;
    padding: 8px 16px;
    border-radius: 4px;
    color: #fff;
    transition: all 1s;
  }
}
@media screen and (max-width: 768px) {
  .nav_bar .nav_vessel .right_part .item {
    /* margin-left: 40px; */
    padding: 8px 16px;
    border-radius: 4px;
    color: #fff;
    transition: all 1s;
  }
}

.nav_bar .nav_vessel .right_part .item:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.2);
}


/* 下横线 */
.bottom_line {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bottom_line::after {
  margin: 0.5em 0;
  content: '';
  display: block;
  width: 2em;
  height: 0.06em;
  background-color: aqua;
}


.vessel {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.vessel > div {
  width: 1200px;
}


/* 首页 */
.index_page > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  position: sticky;
  top: 25%;
}

.index_page > div span:nth-child(1) {
  font-size: 50px;
  font-weight: bold;

}

.index_page > div span:nth-child(2) {
  font-size: 20px;
  margin-top: 20px;

}


/* 关于我自己 */
.about_me_page {
  background-color: #1e1e1e;
}

.about_me_page > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* 标题 */
.about_me_page > div > span:nth-child(1) {
  font-size: 32px;
  font-weight: bold;
  color: #fff;
}

/* 内容 */
.about_me_page > div > span:nth-child(2) {
  margin-top: 30px;
  font-size: 18px;
  line-height: 2em;
  color: #ccc;
  display: flex;
  flex-direction: column;
  align-items: center;
}


/* 我的作品 */
.work_page {
  background-color: #282828;
}

.work_page > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.work_page > div > span {
  font-size: 32px;
  font-weight: bold;
  color: #fff;
}

/* 作品内容 */
.work_page > div .work_vessel {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.work_page > div .work_vessel .item {
  width: 300px;
  height: 200px;
  margin: 20px;
  background-color: #999;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}


/* 我的实验 */
.exper_page {
  background-color: #1e1e1e;
}

.exper_page > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.exper_page > div > span {
  font-size: 32px;
  font-weight: bold;
  color: #fff;
}

/* 作品内容 */
.exper_page > div .exper_vessel {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.exper_page > div .exper_vessel .item {
  width: 300px;
  height: 200px;
  margin: 20px;
  background-color: #999;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}